<html>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>Attorney Email</title>
		<style>
			h1 { font-size: 1.2rem; font-weight: 500; margin: 0; } a:hover { color:
			#282828; transition: .3s;}
		</style>
	</head>

	<body>
		<p>Dear {{name}},</p>
		<p>
			I hope you're doing well. My name is Chad Dudley, and I'm a real estate
			investor with Highest Cash Buyer. a local company dedicated to providing
			smooth and stress-free property solutions for clients going through the
			probate process. I believe our services could benefit your clients, and
			I'm interested in building strong relationships with local attorneys like
			you.
		</p>
		<p>
			I'd like to bring in a complimentary breakfast for you and your staff at
			your office. During this time, we can engage in a casual discussion to
			uncover possible avenues for collaboration. By joining forces, we can
			offer your clients a streamlined and effective approach to their real
			estate concerns. If you are not opposed to this would you be able to share
			your availability or put me in touch with an office manager to schedule a
			convenient time.
		</p>
		<p>
			If you have any questions or need further information, feel free to reach
			out to me at chad@highestcashbuyer.com or (813) 475-0728.
		</p>
		<p>
			Thank you for considering my proposal, and I look forward to connecting
			with you soon.
		</p>
		<p>
			Best Regards,<br />
			Chad Dudley - Licensed Broker<br />
			Phone: (813) 475-0728<br />
			Email: chad@highestcashbuyer.com<br />
			Website:
			<a href='http://highestcashbuyer.com/'>
				http://highestcashbuyer.com/
			</a>
		</p>
	</body>
</html>